<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/style.css" />
    
</head>
<body>
    <div class="container">
        <div class="topContainer">

        <div class="posterContainer">
            <div id="poster">
                @foreach (var ps in ViewData["posters"] as IList<string>)
                {
                    <img src="@ps" />
                }
            </div>
        </div>

        <div class="performances">
            <div class="pageContainer">


                @foreach (var mv in ViewData["performances"] as IList<MovieDisplayViewModels.ShowingsViewModel>)
                {
                    <div class="show">
                        <div class="showname">@mv.name</div>
                        <div class="showrating">@mv.rating</div>
                        @foreach (var t in mv.showTime)
                        {
                            if (t.isSoldOut == true)
                            {
                                <div class="soldOut">@t.time</div>
                            }
                            else
                            {
                                <div class="time">@t.time</div>
                            }

                        }
                    </div>
                }
            </div>
            <div class="pageContainer">
                @foreach (var mv in ViewData["performances2"] as IList<MovieDisplayViewModels.ShowingsViewModel>)
                {
                    <div class="show2">
                        <div class="showname">@mv.name</div>
                        <div class="showrating">@mv.rating</div>
                        @foreach (var t in mv.showTime)
                        {
                            if (t.isSoldOut == true)
                            {
                                <div class="soldOut">@t.time</div>
                            }
                            else
                            {
                                <div class="time">@t.time</div>
                            }

                        }


                    </div>
                }
            </div>
            <div id="pricing">
                @foreach (var pr in ViewData["pricing"] as IList<MovieDisplayViewModels.PricingViewModel>)
                {
                    <ul class="priceOutput">
                        <li class="ptime">
                            @pr.time
                        </li>
                        <li class="page">
                            @pr.age.ToUpper()
                        </li>
                        <li class="pscreen">
                            @pr.price.ToUpper()
                        </li>
                    </ul>


                }
            </div>
        </div>
            </div>
        </div>
    

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/movie.js"></script>
</body>
</html>